.url-bar-wrapper {
  height: 100vh;
  width: 100vw;

  background: rgba(0, 0, 0, 0.1);

  transition: opacity 1s ease-in-out;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.url-bar-wrapper.show {
  display: flex;
  opacity: 1;
}
.url-bar-group {
  display: flex;
  border-radius: 5px;
}
.url-bar-icon {
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #ced4da;
  height: 2rem;
  width: 2rem;

  background: #FFF;

  display: flex;
  justify-content: center;
  align-items: center;
}
.url-bar {
  flex: 1 1 auto;
  width: 100%;
  height: 2rem;
  font-size: 1em;
  border-radius: 0px 5px 5px 0px;
}
